.idea/
/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/css
/storage/*.key
/storage/logs/
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
