.idea/
/node_modules
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/storage
/storage/*.key
/storage/logs/
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/app.js

public/css/app.css
public/css/atlantis.css
public/css/fonts.css
public/css/fonts.min.css
public/mix-manifest.json
