// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// CSS Color Guide 
$primary:#3498DB;
$primary-accent:#10069F;
$accent:#963CBD;
$secondary:#00C1D5;
$tertiary:#FFB81C;
$success:#2ECC71;
$success-accent:#27AE60;
$warning:#F1C40F;
$warning-accent:#F39C12;
$danger:#E74C3C;
$danger-accent:#C0392B;
$label:#95A5A6;
$text:#252631;
$black:#000;
$disabled:#BDBDBD;
$disabled-text:#252631;
$white:#ffff;
$light-white :#E0E0E0;

// Font Weight 
$btn-font-weight:800;

// font-family
$font-family-inter:'Inter',
sans-serif;
// Text Transform 
$btn-text-transform:uppercase;
// radius 
$btn-radius:3px;
$btn-radius-0:0px;
// border 
$border-0: 0px;
//font-size
$font-12:12px;
$font-14:14px;
//letter-spacing
$letter-spacing-01:0.1em;
//padding
$pd-lr-40:15px 50px;
//line-height
$line-height-30:30px;