@import 'colors', 'spacing';

$primary-blue: #10069f;

body {
    background-color: #F5F5F5;
}

// Standard Headings
h1,
h2,
h3,
h4,
h5 {
    color: $text;
    font-weight: 800;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

// Disabled Form Elements
.disabled,
input[disabled="disabled"],
select[disabled="disabled"],
button[disabled="disabled"] {
    cursor: not-allowed;
}

.font-size-10 {
    font-size: 10px !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-70 {
    font-size: 70px;
}

.font-size-80 {
    font-size: 80px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-24 {
    font-size: 24px;
}