/*global css*/
@font-face {
    font-family: HelveticaNeue;
    src: '../fonts/HelveticaNeue.ttf';
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'HelveticaNeue', Arial, sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
strong{
    font-weight:bold;
}
.danger{
    color: red;      
}
/**/
/* habit builder start */
.font-36
{
    font-size: 36px !important;
    font-weight: 600;
    color: #000;
}

/* end habit builder start */


.header{
    background-color: #221299;
    height: 80px;
    padding: 4px;
    font-size: 30px;
    color: white;
    font-weight: bolder;
}
.profile-pic{
    border-radius: 50%;
    height: 35px;
    width: 35px;
}
.menu-wrapper {
    position: absolute;
    bottom: 0px;
    top: 80px;
    background-color: #f6f6f6;
    width: 215px;
    float: left;
    min-height: calc( 100vh - 80px );
    height: 100%;
    padding-top: 30px;
}
.nav-menu {
    list-style: none;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 10px;
}
.nav-menu li a {
    border: 1px solid black;
    color: black;
    font-size: 1.1em;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    display: inline-block;
    width: 100%;
}
/**/
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.autocomplete {
    position: relative;
    width: 130px;
}

.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    overflow: auto;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
}

.autocomplete-result:hover {
    background-color: #4AAE9B;
    color: white;
}
