@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
  }

.d-flex{
    @apply flex;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

.btn{
    @apply md:px-4 md:py-2 mx-2 block hover:text-blue-900
}
.btn-primary{
    @apply bg-blue-800 hover:bg-blue-900 text-white font-semibold  px-8 py-2  rounded-3xl shadow-md hover:shadow-blue-700/50 w-32 text-center
}

.btn-secondary{
    @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-2.5 text-center  
}

.form-group{
    @apply mb-2 d-flex flex-col
}

.form-control{
    @apply border-2 rounded hover:border-blue-800 focus:outline-none focus:border-blue-700 p-2
}

.card{
    @apply h-auto mx-auto m-4 border border-gray-200 bg-white rounded-md shadow-lg lg:mx-4
}

.card-body{
    @apply p-6 text-justify
}


.dropdown:hover .dropdown-menu {
    display: block;
  }
/* card
card-body
btn
btn-primary
btn-secondary 
form-group 
form-control*/
